.lyrics {
  white-space: pre;
  text-align: right;
  font-family: Arial;
  font-size: 1rem;
}

.chords {
  white-space: pre;
  text-align: right;
  color: #c66372;
  font-size: 0.84rem;
  font-family: Arial;
}

.invisible-chords {
  white-space: pre;
  text-align: right;
  color: #c66372;
  font-size: 0.84rem;
  font-family: Arial;
  visibility: hidden;
  height: auto;
}

.lines-ul {
  list-style-type: none;
}

.lines-ul li {
  margin-bottom:-10px;
}

  .active-part {
    font-weight: bold;
  }

  .parts-ul {
    overflow: hidden;
    scrollbar-width: 0;
    list-style-type: none;
    height: calc(100vh - 290px);
  }

  /* If owner_perm is true */
  .owner-perm.parts-ul {
    height: calc(100vh - 405px);
  }

  /* Media query for screen width less than 600px */
  @media (max-width: 600px) {
    .parts-ul {
      height: calc(100vh - 395px);
    }

    .owner-perm.parts-ul {
      height: calc(100vh - 515px);
    }
  }

  .parts-ul::-webkit-scrollbar {
    display: none;
  }
