<div class="content">
    <div class="info">
        <h2 class="next">הבא</h2>
        <p class='q1' *ngIf="firstInQ">{{firstInQ.song_name}} - {{firstInQ.song_author}}</p>
        <p class="q2" *ngIf="secondInQ">{{secondInQ.song_name}} - {{secondInQ.song_author}}</p>
    </div>
    <div class="buttons">
        <mat-icon class='queue-view-icon' (click)="showQueueDialog()">queue_music</mat-icon>
        <mat-icon *ngIf="owner_perm" class='add-icon' (click)="showAddSongDialog()">queue</mat-icon>
    </div>
</div>