<!-- <app-search></app-search>
<app-tags></app-tags>
<app-not-found
[visible]="!foods || !foods.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
    <li *ngFor="let food of foods">
      <a routerLink="/food/{{food.id}}">
        <img [src]="food.imageUrl" [alt]="food.name"/>
        <div class="content">
          <div class="name">
            {{food.name}}
          </div>
          <span class="favorite {{food.favorite?'':'not'}}">
            ❤
          </span>
          <div class="product-item-footer">
            <div class="origins">
              <span *ngFor="let origin of food.origins">
                {{origin}}
              </span>
            </div>
  
            <div class="cook-time">
              <span>🕒</span>
              {{food.cookTime}}
            </div>
          </div>
  
          <div class="price">
            <span>
              {{food.price | currency}}
            </span>
          </div>
        </div>
      </a>
    </li>
  </ul> -->

  <p>Hello World</p>
  <input [(ngModel)]="message" placeholder="Enter message">
  <button (click)="sendHello(message)">Send Message</button>
  <p>{{ broadcastMessage }}</p>

  <button (click)="getSongFromUrl('123', 'https%3A%2F%2Fwww.nagnu.co.il%2F%25D7%2590%25D7%25A7%25D7%2595%25D7%25A8%25D7%2593%25D7%2599%25D7%259D%2F%25D7%25A0%25D7%2595%25D7%25A2%25D7%2594_%25D7%25A7%25D7%2599%25D7%25A8%25D7%259C%2C_%25D7%25A9%25D7%2592%25D7%2599%25D7%2590_%25D7%25A7%25D7%25A8%25D7%2599%25D7%2591%2C_%25D7%25A4%25D7%2595%25D7%25A8%25D7%2590%25D7%2591%25D7%25A8_%25D7%25AA%25D7%259C_%25D7%2590%25D7%2591%25D7%2599%25D7%2591%2F%25D7%25A4%25D7%25A8%25D7%2595%25D7%2591%25D7%2595%25D7%25A7%25D7%2598%25D7%2599%25D7%2591%25D7%2599%25D7%25AA')">Get Song</button>
  <p>{{ songResponse | json }}</p>