html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

*, *::before, *::after {
    box-sizing: inherit;
}

.back {
    background: #44474e;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 10px; /* Add padding to ensure no content touches the edges */
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 100%;
    padding: 0 10px; /* Add padding for internal spacing */
    box-sizing: border-box;
    /*background: linear-gradient(to right, rgba(68, 71, 78, 1) 0%, rgba(255, 255, 255, 1) 2%, rgba(255, 255, 255, 1) 98%, rgba(68, 71, 78, 1) 100%); /* Gradient from white to transparent*/
}

.sidenav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: white;
}

.top {
    display: flex;
    align-items: flex-start; /* Correct alignment from 'top' to 'flex-start' */
    width: 100%;
    box-sizing: border-box;
}

.top-sidebar {
    align-items: center; /* Correct alignment from 'top' to 'flex-start' */
    flex: 1;
    display: flex;
    box-sizing: border-box;
}

.singsync {
    vertical-align: top;
    font-size: 1.5rem;
}

.roomid {
    display: inline-block;
    flex: 1;
    vertical-align: top;
    font-size: 1.5rem;
}


.song-author {
    vertical-align: top;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding: 10px; /* Add padding to prevent content from touching the edges */
}

queue {
    flex: 1;
    display: inline-block;
}

.song-content-container {
    flex:2;
    display: flex;
    flex-direction: column;
}

.song-info {
    display: inline-block;
    flex: 1;
    vertical-align: top;
    text-align: right;
}

song-content {
    display: inline-block;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px; /* Add padding to ensure no content touches the edges */
    box-sizing: border-box;
}

.filler {
    display: inline-block;
    flex: 1;
}

.buttons {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-button{
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    text-align: center;
    color: #44474e;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    overflow: visible;
    width: 40px;
    height: 40px;
    padding: 8px;
}

.menu-span{
    border-radius: 50%;
    text-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.menu-button:hover{
    background: rgba(26,27,31,.08);
}

.in-menu-button{
    background-color: rgba(0,0,0,0);
    text-align: center;
    color: #44474e;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    overflow: visible;
    width: 100%;
    height: 100%;
}

.in-menu-span{
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 1.1rem;
    /*border-radius: 50%;
    width: 40px;
    height: 40px;*/
}

.in-menu-icon {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}

.in-menu-item {
    background: white;
}

.in-menu-item:hover {
    background: rgba(26,27,31,.08);
}

::ng-deep mat-list-item {
    padding: 0 !important; /* Remove all padding */
}
  
::ng-deep mat-list-item .mat-list-item-content {
    padding: 0 !important; /* Remove padding from the content */
}


mat-sidenav {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 250px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .content, .top, .main, .navigation {
        padding: 5px; /* Adjust padding for small screens */
    }

    .song-info, .song-author, queue, song-content {
        font-size: 14px; /* Adjust font size for better readability on small screens */
    }
}