<div class="back">
    <div class="content">
        <div class="top">
            <h1 class="roomid">
                #room id
            </h1>
            <div class="song-info">
                <div>
                    <h1 class="song-title">
                        שם של שיר
                    </h1>
                </div>
                <div>
                    <p class="song-author">
                        שם של זמר
                    </p>
                </div>
            </div>
        </div>

        <div class="main">
            <queue></queue>
            <song-content></song-content>
        </div>

        <div class="navigation">
            <div class="filler"></div>
            <div class="buttons">
                <button class="prev-page-btn"></button>
                <button class="next-page-btn"></button>
                <button class="next-song-btn"></button>
            </div>
        </div>

    </div>
</div>
