<div class="back">
  <div class="content">
    <div>
      <h1>Sing Sync</h1>
    </div>
    <div class="center-container">
      <div class = "join-container">
        <div>
          <input class="join-input" type="text" placeholder="room id"/>
        </div>
        <div>
          <button class="join-button" role="button">Join</button>
        </div>
      </div>
      <button class="host-button" role="button">Host</button>
      <!-- TODO: add the fire icon to the link-->
      <p classs="stats">view our hits</p>
    </div>
  </div>
</div>

  <router-outlet></router-outlet>
  