<div class="back">
  <div class="content">
    <div>
      <h1>Sing Sync</h1>
    </div>
    <div class="center-container">
      <div class = "join-container">
        <div>
          <button class="join-button" (click)="toggleJoin()">כניסה לחדר</button>
        </div>
        <div [@toggleAnimation]="showJoin ? 'visible' : 'hidden'" class="join-slide">
          <div>
            <input #s class="join-input" type="text" placeholder="room id"/>
          </div>
          <div>
            <button class="host-button" role="button" (click)="goToRoom(s.value)">הצטרף</button>
          </div>
        </div>
      </div>
      <button class="host-button" role="button" (click)="hostRoom()">יצירת חדר</button>
      <!-- TODO: add the fire icon to the link-->
    </div>
    <p classs="stats" (click)="goToStats">הלהיטים שלנו</p>
  </div>
</div>

  <router-outlet></router-outlet>
  