:host {
    /* colors for buttons */
    --accent-color: oklch(55.64% 83.74 221.69); /* #0A66C2 */
    --accent-color-dark: oklch(38.64% 61.81 223.95); /* #16437E */
    --accent-color-darkest: oklch(11.77% 33.39 213.24); /* #09223b */


    /* nice colors */
    --turquoise: oklch(71.15% 0.131 174.2); /* #1ABC9C */
    --greensea: oklch(62.35% 0.155 168.0); /* #16A085 */
    --emerland: oklch(65.89% 0.155 147.4); /* #2ECC71 */
    --nephritis: oklch(65.11% 0.138 136.6); /* #27AE60 */
    --peterriver: oklch(47.46% 0.157 204.3); /* #3498DB */
    --belizehole: oklch(46.02% 0.167 207.1); /* #2980B9 */
    --amethyst: oklch(53.25% 0.161 263.3); /* #9B59B6 */
    --wisteria: oklch(49.22% 0.138 290.5); /* #8E44AD */
    --sunflower: oklch(78.65% 0.271 85.1); /* #F1C40F */
    --orange: oklch(72.84% 0.304 78.4); /* #F39C12 */
    --carrot: oklch(66.64% 0.294 74.4); /* #E67E22 */
    --pumpkin: oklch(61.13% 0.288 69.5); /* #D35400 */
    --alizarin: oklch(56.86% 0.209 24.4); /* #E74C3C */
    --pomegranate: oklch(52.99% 0.213 16.5); /* #C0392B */

    --black: oklch(0 0 0); /* #000000 */
    --gray-900: oklch(21.79% 0.014 0); /* #212121 */
    --gray-700: oklch(38.03% 0.012 0); /* #616161 */
    --gray-400: oklch(73.49% 0.007 0); /* #BDBDBD */
    
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  height: 100%;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
  
.join-input {
  text-align: center;
  font-size: large;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  margin-top: 10px;
}
  
input {
  box-shadow: inset 0 0 5px 5px #888;
  background: #fff;
}
  
.join-button {
  align-items: center;
  background-color: #000000;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  width: 150px;
}
  
.join-button:hover,
.join-button:focus { 
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.join-button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.join-button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

h1 {
  font-size: 40px;
  font-weight: 7000;
}


.host-button {
  align-items: center;
  background-color: #c66372;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  width: 150px;
}

.host-button:hover,
.host-button:focus { 
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.host-button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.host-button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.stats {
  margin-bottom: 10px;
}

.join-slide {
  margin-top: 10px;
}