<div class="content">
    <div class="search-wrap">
        <div class="search-bar">
            <button class="search-btn" (click)="searchSongs()">
                <mat-icon>search</mat-icon>
            </button>
            <input [(ngModel)]="search_term" type="text" class="search-input" dir="rtl" (keyup.enter)="searchSongs()" placeholder="חיפוש לפי שיר או אומן">
        </div>
    </div>
    <div class="search-results" *ngIf="found_results">
        <ol>        
            <li *ngFor="let song of results" dir="rtl" (click)="addSongToQ(song)">
                <span [innerHTML]="(song.song_name + ' - ' + song.song_author) | highlight:highlight_term"></span>
            </li>
        </ol>
    </div>
    <div class="search-results" *ngIf="!found_results">
        לא נמצאו תוצאות. נסו 
        <span class="import_from_url_link" (click)="test()">
            הבאה מקישור
        </span>

    </div>
</div>


