<div class="content">
    <div class="input-wrap">
        <div class="input-bar">
            <button class="import-btn" (click)="importSongFromURL()" [disabled]="url.length == 0">
                <mat-icon>download</mat-icon>
            </button>
            <input [(ngModel)]="url" type="text" class="url-input" (keyup.enter)="importSongFromURL()" dir="rtl" placeholder="קישור לשיר באתר נתמך">
        </div>
    </div>
    <br>
    <div class="supported-websites">
        <p dir="rtl">אתרים נתמכים:</p>
        <ul>        
            <li dir="rtl">
                <a href="https://www.nagnu.co.il/%D7%90%D7%A7%D7%95%D7%A8%D7%93%D7%99%D7%9D" target="_blank">nagnu</a>
            </li>
        </ul>
    </div>
</div>


