

.input-bar {
    width: 100%;
    position: relative;
    display: flex;
}
  
.url-input {
    width: 100%;
    border: 3px solid #c66372ff;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
  
  
.import-btn {
    width: 40px;
    height: 30px;
    border: 1px solid #c66372ff;
    background: #c66372ff;
    text-align: center;
    justify-items: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

  
.input-wrap{
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.content{
    margin-top: 20px;
    min-height: 100px;
}

ul {
    max-height: 500px;
    overflow: auto;
    margin: 0%;
}


p {
    font-size: small;
    margin-bottom: 0%;
}

a {
    color: #c66372ff;
    font-size: small;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}